body {
    font-family: 'Rubik', sans-serif;
}

/* HEADER */

.logo {
    width: 8rem;
}

.navegador {
    background-color: #F26900;    
}

.navegador__lista li a {
    color: #ffffff;
}

.navegador__lista li a:hover {
    color: #2A2627;
}

/* FOOTER */

.pieDePagina {
    background: linear-gradient(180deg, rgba(125,125,125,1) 0%, rgba(242,105,0,1) 0%, rgba(237,49,54,1) 100%, rgba(125,125,125,1) 100%);    
}

.footer__list li {
    list-style: none;
    margin-top: 1rem;
}

.footer__list li a {
    text-decoration: none;
    color: #ffffff;
}

.footer__list li a:hover {
    color: #2A2627;
}


/* INDEX */

.hero {
    background-image: url(../Assets/rose-petals.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

.titulo {
    font-size: 4rem;
}

.subtitulo {
    padding: 0 20rem;
}

.perros img {
    width: 800px;
    height: 575px;
}

.carta {
    border: #F26900 solid 2px;
    color: #2A2627;
}

.boton {
    border: solid 1px #F26900;
    background-color: #F26900;
    color: #ffffff;
}

.boton:hover {
    border: #ed3136 1px solid;
    background-color: #ed3136;
}

/* NUESTRO ESPACIO */

.mainEspacio {
    background-color: #f26900;
    background-image: linear-gradient(180deg, #f26900 0%, #ffffff 25%, #ffffff 75%, #f26900 99%);
    color: #2A2627
}

.tituloEspacio {
    text-shadow: #2A2627 2px 2px 4px;
}

.imgEspacio {
    border-radius: 10px;
}

.imgInstalaciones {
    border-radius: 10px;
    width: 25rem;
    height: 17rem;
}

/* QUIENES SOMOS */

.mainNosotros {
    color: #2A2627;
    background-color: #f26900;
    background-image: linear-gradient(180deg, #f26900 0%, #ffffff 25%);
}

.imgNosotros {
    border-radius: 50%;
}

.imgEquipo {
    height: 300px;
    width: 50%;
    border-radius: 50%;
}

.equipo {
    border: none;
    min-height: 35rem;
    width: 35rem;
}

/* MEDIAS QUERIES */

@media screen and (max-width: 1024px) {

    /* index */

    .subtitulo {
        padding: 1rem;
    }

    /* Nuestro Equipo */

    .equipo {
        width: 30rem;
        height: 30rem;
    }
}

@media screen and (max-width: 992px) {

    /* index */

    .titulo {
        font-size: 2rem;
    }

    /* nuestro espacio */

    .imgInstalaciones {
        padding: 7px;
    }
    
    /* Nuestro Equipo */

    .imgNosotros {
        width: 50%;
    }

    .equipo {
        width: 20rem;
        height: 20rem;
    }
    
}

@media screen and (max-width: 768px) {

    /* Nuestro Equipo */

    .sectionNosotros {
        margin-bottom: -3rem;
    }    

    .columnaEquipo {
        padding: 0;
        width: auto;
    }


}

@media screen and (max-width: 425px) {

    /* index */

    .subtitulo {
        display: none;
    }

    .perros img {
        height: 50vh;
    }

    /* Nuestro Equipo */

    
    .imgNosotros {
        order: -1;
        padding: 1rem;
        width: auto;
    }

    .textoNosotros {
        flex-direction: column;
    }

    .columnaEquipo {
        width: auto;
    }


}